
node_modules/*
www/angular-bootstrap-toggle-switch/*
www/awesome-bootstrap-checkbox-master/*
www/img/240_F_177344554_TXZQ8vE7RUG98xu8auo2SRq2O1piTSQm.jpg
www/img/0.jpg
www/socket.io-client/*
www/img/ssckull-clipart-skull-face-20.jpg
*.lnk
dist/bundle.js