<div ng-controller="Setup">
    <div class="container">
        <img src="img/werewolfwatchword.png" style="width: 100%;">
        <hr>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-8" for="players">Number of players:</label>
                <div class="col-xs-4">
                    <input ng-model="players" type="number" required class="form-control" id="players">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-8" for="wwtimeout">Watchword timeout:</label>
                <div class="col-xs-4">
                    <input ng-model="wwtimeout" type="number" required class="form-control" id="wwtimeout">
                </div>
            </div>
            <div class="form-group">
              <label class="col-xs-8" for="wwtimeout">Optional Category:</label>
              <div class="col-xs-4">
                  <select ng-model="watchwords" ng-options="categ for (categ, watchwords) in wwsamples" class="form-control" id="categ">
              </div>
          </div>
          <div class="form-group">
                <label class="col-xs-8" for="watchwords">Watchwords:</label>
                <div class="col-xs-12">
                    <textarea ng-model="watchwords" ng-list="&#10;" ng-trim="false" class="form-control" rows="8" required></textarea>                    
                </div>
            </div>

            <!--
            <div class="form-group">
                <label for="watchwords">Choose werewolfs:</label>
                <toggle-switch ng-model="auto">
                </toggle-switch>
            </div>
             -->

            <p>{{error}}</p>
            <button type="submit" class="btn btn-primary btn-lg center-block" ng-click="joinGame()">Setup a New Game</button>
        </form>
    </div>
</div>